myapp/.env
db-data/*
myapp/celeritas
myapp/tmp/*
myapp/migrations/*

myapp/tmp/celeritasApp
myapp/.env2
celeritas/cache/testdata/tmp/badger/*
celeritas/vendor/*
myapp/vendor/*
celeritas/dist/celeritas
