myapp/.env
db-data/*
myapp/celeritas
myapp/tmp/*
myapp/migrations/*

myapp/tmp/celeritasApp
celeritas/cache/testdata/tmp/badger/*
celeritas/vendor/*
myapp/vendor/*
celeritas/dist/celeritas
celeritas/dist/*
